.metadata/
bin/
.settings
*.class
.loadpath
.classpath
tmp/
*.tmp
.settings/
*.swp
*.bak
*.jar
*.zip
local.properties
.factorypath
src-gen/
*.ali
*.o
gnatinspect.db*
*.xml
[bB]~*
*~
[Dd]ebug/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
