body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.panel {
    height: 100%;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #ccc;
    background-color: #eaeaea;
    overflow-y: auto;
}

#control-panel {
    display: flex;
    flex-direction: column;
}

#particle-canvas {
    border: 10px solid #ccc;
}

button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="number"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.graph {
    width: 100%;
    height: 200px;
    background-color: lightgray;
    margin-top: 20px;
}

.right {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.left {
    height: 100%;
    width: 80%;
}